img/Background Texture/black-fabric-textile-textured-background.jpg
img/Background Texture/fabric-textured-background.jpg
img/Background Texture/pastel-pink-linen-textile-textured-background.jpg
img/Icons/github-line.png
img/Icons/home-4-line.png
img/Background Texture/yellow-linen-textile-textured-background.jpg
img/Background Texture/simple-smooth-fabric-textured-background.jpg
img/Icons/instagram-line.png
img/Icons/linkedin-line.png
img/Icons/trophy-line.png
img/Jülide/Bild Application.png
img/Jülide/ilushh_gif.gif
img/Jülide/Juelide_29.06.22.png
img/Shape/Wal.jpg
img/Shape/clouds/5628597.ai
img/Shape/clouds/5628599.eps
img/Shape/clouds/5628601.jpg
img/Shape/waves/wave.jpg
img/Juelide_29.06.22.png
img/home-4-line.png
img/Icons/DALL·E 2023-02-06 22.07.37 - create me a favicon with the letter j and an otter in schwarz weiß.png
.gitignore
img/Icons/angular.svg
img/Icons/DALL·E 2023-02-06 21.58.31 - erstelle mir einen kleinen schwarz-weiß Favicon mit einem J und einem Fisch.png
img/Icons/aws-certified-cloud-practitioner.png
img/Icons/DALL·E 2023-02-06 21.58.21 - erstelle mir einen kleinen schwarz-weiß Favicon mit einem J und einem Fisch.png
img/Icons/DALL·E 2023-02-06 22.09.37.png
img/Icons/DALL·E 2023-02-06 22.12.30 - create a favicon black white with the letter j and an otter with plant.png
img/Icons/DALL·E 2023-02-06 22.16.39 - create a favicon black white with the letter jc and an otter with plant.png
img/Icons/javascript.svg
img/Icons/LPI_Essentials.png
img/Icons/photoshop-cc.svg
img/Icons/python.svg
img/Icons/Vectornator-2-Icon.jpg
img/Icons/figma.svg
img/Icons/DALL·E 2023-02-06 22.18.28 - create a favicon black white with the letter jc and an otter with plant.png
